---
import Layout from "../layouts/Layout.astro"
import { capitalize } from "../utils/capitalize"

const { pokemon } = Astro.params

const pokeData = await fetch(`https://pokeapi.co/api/v2/pokemon/${pokemon}`).then(response => response.json()).catch(err => console.error("Pokémon not found. Cause: Name incorrect."))

if (!pokeData) return Astro.redirect("/404")
---

<Layout title={pokemon}>
    <nav>
        <a href="/" class="text-white px-4 py-4">Home</a>
    </nav>
    <section class="grid grid-rows-3 px-4 py-4">
        <header class="grid grid-rows-2 grid-cols-2">
            <h1 class="font-black text-white" style={`text-shadow: 0px 0px 10px rgba(255,255,255,0.7); view-transition-name: title-${pokemon}`}>{capitalize(pokemon)}</h1>
        </header>
        <picture>
            <img src={`https://play.pokemonshowdown.com/sprites/ani/${pokemon}.gif`} alt={pokemon} class="object-cover" style={`view-transition-name: sprite-${pokemon};`}>
        </picture>
        <section>

        </section>
    </section>
</Layout>
