---
import Layout from "../layouts/Layout.astro"
import { pokemons } from "../data/pokemons"

const { pokemon } = Astro.params

const info = pokemons.find(p => p.id === pokemon)

if (!info) {
    return Astro.redirect("/404")
}

const pokeData = await fetch(`https://pokeapi.co/api/v2/pokemon-species/${info.id}`).then(response => response.json())

console.log(pokeData)
---

<Layout title={info.title}>
    <header>
        <h1 class="font-black text-6xl">{info.title}</h1>
    </header>

    <section>
        <picture>
            <img src={info.img} alt={info.id} class="" width="200px">
        </picture>
    </section>
</Layout>
