---
import { backspaceAndCapitalize } from '../utils/capitalize'
import { getDexNumber } from '../utils/getDexNumber'

export interface Props {
  id: string
  url: string
  title: string
  img: string
}

const {id, url, title, img} = Astro.props
const data = await fetch(url).then(response => response.json()).catch(err => console.log(err))
---
{data && (
  <a
    class="flex flex-col justify-center items-center py-2 transition-all rounded-md w-full h-full hover:scale-105 hover:shadow-2xl pokemon-card"
    style={(data.types.length == 1)? `background-color: var(--${data.types[0].type.name})`: `background: linear-gradient(135deg, var(--${data.types[0].type.name}), var(--${data.types[1].type.name}))`}
    href={`/${id}`} id={title.toLowerCase()}>
      <p class="text-center text-white text-xl">#{getDexNumber(data.id)}</p>
      <img class="object-cover mx-auto" src={img} alt={id}>
      <div>
        <h1 class="font-black text-center text-white text-lg md:text-2xl pokemon mt-2">{backspaceAndCapitalize(title)}</h1>
        <p class="text-center text-md" style="font-weight: bold">
          {
            (data.types.length == 1) ?
            (<span style={`color: var(--light-${data.types[0].type.name}); text-shadow: 0 0 6px rgba(255,255,255,0.4)`}>{data.types[0].type.name}</span>) :
            (<span style={`color: var(--light-${data.types[0].type.name}); text-shadow: 0 0 6px rgba(255,255,255,0.4)`}>{data.types[0].type.name}</span><span> · </span><span style={`color: var(--light-${data.types[1].type.name}); text-shadow: 0 0 6px rgba(255,255,255,0.4)`}>{data.types[1].type.name}</span>)
          }
        </p>
      </div>
  </a>
)}
